/* NavBar.css */

/* .navbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    align-items: center; 
  }
  
  .logo {
    width: 150px; 
    margin-right: 550px; 
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
    margin-right: 40px; 
    padding: 15px; 
    font-size: 20px; 
    transition: color 0.3s ease, background-color 0.3s ease;
   
  }
  
  .nav-link:hover {
    background-color: lightgrey;
    color: darkgrey;
  } */