.myCarousel, .instaCarousel {
    //@include pad-mar(30px, 10px);
    background-color: $darkColor;
    color: $lightColor;
    z-index: 1;
    width: 410px;
}

.myCarousel {
    // @include pad-mar(30px, 10px);
    // width: 410px;
    border-width: 5px;
}

.carouselBtn {
    background-color: $darkColor;
    @include pad-mar(5px, 5px);
    border-radius: 50%;
    height: fit-content;
    align-self: center;
}

.carouselBtn:hover {
    box-shadow: $accentColor 0px 0px 10px;

    svg {
        color: $accentColor;
    }
    
}

.carouselNav {
    display: flex;
    justify-content: space-around;
}

.carouselDots {
    display: flex;
    align-items: center;

    button {
        @include pad-mar(3px, 3px);
        border-radius: 50%;
        background-color: $lightColor;
    }
    
}
.carousel__dot--selected {
    background-color: $accentColor !important;
}

.carouselImg {
    overflow: hidden;
}