.musicPlayer {
    @include pad-mar(10px, 10px);
    // background-color: $darkColor;
    height: 90vh;
}

.musicList {
    overflow: scroll;
}

.otherMusic {
    @include pad-mar(5px, 5px);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $darkColor;
    overflow: scroll;

    img {
        width: 100px;
        height: 100px;
        @include pad-mar(5px, 5px);
    }

    h3 {
        @include pad-mar(5px, 5px);
    }
}

.otherMusic:hover {
    color: $headerColor;
    background-color: $darkColor;
}