// most of the styling will be here. Any components, pages, ect

.btn {
    @include pad-mar(8px, 10px);
    border-radius: 5px;
    border: 1px solid $accentColor;
    background-color: $darkColor;
    color: $lightColor;
    font-size: 20px;
}

.sideLink {
    background-color: $darkColor;
    width: fit-content;
    height: fit-content;
    @include pad-mar(10px, 10px);
    border-radius: 50%;

    svg {
        color: $lightColor;
        height: 30px;
        width: 30px;
    }
}

.sideLinkSection {
    display: flex;
    flex-direction: column;
    // border: black solid 1px;
    position: absolute;
    z-index: 3;
    position: fixed;
    bottom: 120px;
}