// most of the styling will be here. Any components, pages, ect

.btn, input[type=text] {
    @include pad-mar(8px, 10px);
    border-radius: 5px;
    border: 1px solid $accentColor;
    font-size: 20px;
}

.btn {
    background-color: $lightColor;
    color: $darkColor;
}

.section {
    margin: 50px 0;
}

input[type=text] {
    background-color: $darkColor;
    color: $lightColor;
}

.btn:hover {
    box-shadow: $accentColor 0px 0px 50px;
    // color: $accentColor;
    // background-color: $darkColor;
}

.homePage {
    

    .contentWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.actionImage {
    width: 100%;
    // height: 65vh;
    background-image: url('../assets/ActionImage_DJBentley.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: -5px -5px 10px black inset;
}

.homeQuote {
    border: dotted 3px $accentColor;
    border-radius: 5px;
    // @include pad-mar(50px, 50px auto);
    width: 80%;
}

.homeQuoteSignoff {
    font-size: .7em;
}

.loginPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.login {
    display: flex;
    flex-direction: column;
    // align-items: center;
    @include pad-mar(10%, auto 0);

    // for media query, add >
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
}

svg {
    color: $lightColor;
    height: 20px;
    width: 20px;
    transition: width 200ms, height 200ms;
    text-align: center;
}

.aboutPage {
    p {
        font-size: 20px;
    }
}

.fellowDjs {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // height: 350px;
    overflow: scroll;

    div {
        border-right: $darkColor 1px solid;
        border-left: $darkColor 1px solid;
    }

    p {
        text-align: center;
        @include pad-mar(5px, 0px auto);
    }
}

.fellowDjsPage {
    width: 100%;
    @include pad-mar(20px, 0px);

    h2 {
        @include pad-mar(20px, 10px);
        text-align: center;
    }
}

.instaDiv {
    display: flex;
    flex-direction: row;
}

.imagesDiv {
    display: flex;
    flex-direction: row;
}