// most of the styling will be here. Any components, pages, ect

input[type=text], input[type=password], input[type=date], input[type=time], textarea {
    @include pad-mar(8px, 10px);
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid $lightColor;
    font-size: 20px;
    background: none;
    color: $lightColor;
}

input[type=date]:invalid {
    color: $lightColor;
}

form::placeholder {
    color: $lightColor;
    opacity: 64%;
}

textarea {
    border: none;
    border-bottom: 1px solid $lightColor;
}

.btn {
    background: none;
    color: $lightColor;
    border: 1px solid $lightColor;
    font-size: 20px;
    @include pad-mar(8px, 10px);
    border-radius: 5px;
}
.btnDark {
    background: none;
    color: $darkColor;
    border: 1px solid $darkColor;
    font-size: 20px;
    @include pad-mar(8px, 10px);
    border-radius: 5px;
}

.btn:hover, .btnDark:hover {
    box-shadow: $lightColor 0px 0px 50px;
}

.loginPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.login {
    display: flex;
    flex-direction: column;
    // align-items: center;
    @include pad-mar(10%, auto 0);
}

svg {
    color: $lightColor;
    height: 20px;
    width: 20px;
    transition: width 200ms, height 200ms;
    text-align: center;
}

.svgRight {
    position: absolute;
    right: 0;
}

.aboutPage, .eventPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    // padding: 30px;
    p {
        font-size: 20px;
    }
}

.fellowDjs {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    overflow: scroll;
    height: 90%;

    div {
        border-right: $darkColor 1px solid;
        border-left: $darkColor 1px solid;
        display: flex;
    }

    p {
        text-align: center;
        @include pad-mar(5px, 0px auto);
        align-self: center;
        padding: 15px;
    }
}

.fellowDjsPage {
    width: 90%;
    @include pad-mar(10px, 10px);

    h2 {
        @include pad-mar(20px, 10px 0px);
        text-align: center;
        background-color: $headerColor;
    }

    svg {
        align-self: center;
        margin: auto;
        height: 10px;
        width: 10px;
        color: $darkColor;
    }
}

.fDjBanner {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
}

.fDjBannerOne {
    margin: 10px 0px;
    border-left: 10px solid transparent;
    border-top: 35px solid $headerColor;
    border-bottom: 35px solid $headerColor;
}

.fDjBannerTwo {
    margin: 10px 0px;
    border-right: 10px solid transparent;
    border-top: 35px solid $headerColor;
    border-bottom: 35px solid $headerColor;
}

.fDjName {
    color: $darkColor;
    font-size: 25px;
}

.fDjNameAccent {
    color: $headerColor;
    grid-column: 1 / 4;
    font-size: 25px;
    font-size: 30px;
}

// .opacity {
//     transition: opacity 5s;
//     opacity: 40%;
// }

// .undoOpacity {
//     transition: opacity 5s;
//     opacity: 100%;
// }

.instaDiv {
    img {
        border-radius: 10px;
        border: #F001FF 1px solid;
        box-shadow: #F001FF 0px 0px 15px 1px;
    }
}

.musicFellow {
    padding: 100px 0;
    background-color: $lightColor;
}

.imagesDiv {
    display: flex;
    flex-direction: row;
}