// here is for any variables (such as colors and fonts) that are used throughout the pages

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

$darkColor: #25282A;
$lightColor: #F2EFE9;
$accentColor: #F001FF;

@mixin pad-mar($pad, $mar) {
    padding: $pad;
    margin: $mar;
}

body {
    font-family: 'Sen', sans-serif;
}

.headlineOne {
    font-size: 104px;
    text-align: center;
}

// .headlineTwo {
//     font-size: 55px;
//     text-align: center;
//     @include pad-mar(20px, 10px)
// }

.subTitle {
    font-size: 30px;
}

.bodyText {
    font-size: 16px;
}

$backgroundColor: #917CCC;
$headerColor: #F58C2B;

$headerOverlayOne: rgba(252, 252, 117, 0.550);
$headerOverlayTwo: rgba(254, 196, 190, 0.507);
$headerOverlayThree: rgba(185, 219, 197, 0.699);
