// here is for any variables (such as colors and fonts) that are used throughout the pages

$darkColor: rgb(41, 40, 40);
$transparentDarkColor: rgba(41, 40, 40, 0.822);
$lightColor: rgb(214, 213, 213);
$accentColor: #40ffb9;

@mixin pad-mar($pad, $mar) {
    padding: $pad;
    margin: $mar;
    border: 1px solid black; //remove later
}