@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

input[type=text], input[type=password], input[type=date], input[type=time], textarea {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #F2EFE9;
  font-size: 20px;
  background: none;
  color: #F2EFE9;
}

input[type=date]:invalid {
  color: #F2EFE9;
}

::-webkit-input-placeholder {
  color: #F2EFE9;
  opacity: 64%;
}

:-ms-input-placeholder {
  color: #F2EFE9;
  opacity: 64%;
}

::-ms-input-placeholder {
  color: #F2EFE9;
  opacity: 64%;
}

::placeholder {
  color: #F2EFE9;
  opacity: 64%;
}

textarea {
  border: none;
  border-bottom: 1px solid #F2EFE9;
}

.btn {
  background: none;
  color: #F2EFE9;
  border: 1px solid #F2EFE9;
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.btnDark {
  background: none;
  color: #25282A;
  border: 1px solid #25282A;
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.btn:hover, .btnDark:hover {
  -webkit-box-shadow: #F2EFE9 0px 0px 50px;
          box-shadow: #F2EFE9 0px 0px 50px;
}

.loginPage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  margin: auto 0;
}

svg {
  color: #F58C2B;
  height: 20px;
  width: 20px;
  -webkit-transition: width 200ms, height 200ms;
  transition: width 200ms, height 200ms;
  text-align: center;
}

svg:hover {
  color: whitesmoke;
}

.svgRight {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.aboutPage, .eventPage {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.aboutPage p, .eventPage p {
  font-size: 20px;
}

.fellowDjs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  height: 80%;
  /* margin-left: 15px; */
}

.fellowDjs div {
  border-right: #25282A 1px solid;
  border-left: #25282A 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fellowDjs p {
  text-align: center;
  padding: 5px;
  margin: 0px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 15px;
}

.fellowDjsPage {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.fellowDjsPage h2 {
  padding: 20px;
  margin: 10px 0px;
  text-align: center;
  background-color: #55c5c9;
}

.fellowDjsPage svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  height: 10px;
  width: 10px;
  color: whitesmoke;
}

.fDjBanner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 12fr 1fr;
      grid-template-columns: 1fr 12fr 1fr;
}

.fDjBannerOne {
  margin: 10px 0px;
  /* border-left: 10px solid transparent; */
  border-top: 35px solid #55c5c9;
  border-bottom: 35px solid #55c5c9;
}

.fDjBannerTwo {
  margin: 10px 0px;
  /* border-right: 10px solid transparent; */
  border-top: 35px solid #55c5c9;
  border-bottom: 35px solid #55c5c9;
}

.fDjName {
  color: whitesmoke;
  font-size: 20px;
}

.fDjNameAccent {
  color: #F58C2B;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  font-size: 30px;
}

.opacity {
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
  opacity: 40%;
}

.undoOpacity {
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
  opacity: 100%;
}

.instaDiv img {
  border-radius: 10px;
  border: #F001FF 1px solid;
  -webkit-box-shadow: #F001FF 0px 0px 15px 1px;
          box-shadow: #F001FF 0px 0px 15px 1px;
}

.musicFellow {
  padding: 100px 0;
  background-color: #060606;
}

.imagesDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.musicPlayer {
  padding: 10px;
  margin: 10px;
  height: 100vh;
}

.musicList {
  overflow: scroll;
}

.musicList::-webkit-scrollbar {
  -webkit-appearance: none;
}

.musicList::-webkit-scrollbar:vertical {
  width: 11px;
}

.musicList::-webkit-scrollbar:horizontal {
  display: none;
}

.musicList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid #F2EFE9;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.otherMusic {
  padding: 5px;
  margin: 5px;
  /* border-radius: 5px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: whitesmoke;
  overflow: hidden;
  border-bottom: solid 1px gray;
}

.otherMusic img {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.otherMusic h3 {
  padding: 5px;
  margin: 5px;
}

.otherMusic:hover {
  color: #F58C2B;
  background-color: #25282A;
}

@media only screen and (max-width: 600px) {
  nav p {
    padding: 0px 7px;
  }
  .headerImg {
    height: 200px;
  }
  .musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fellowDjs {
    margin-left: 15px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .instaDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .instaDiv img {
    padding: 0px;
    margin: 10px;
  }
  .aboutImage, .bookImage {
    display: none;
  }
  .aboutContent {
    padding: 25px;
  }
  .aboutImage, .bookImage {
    display: none;
  }
  .eventPage, .aboutPage {
    padding: 0px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .eventPage p, .aboutPage p {
    font-size: 20px;
  }
  input[type=text], input[type=password], input[type=date], input[type=time], textarea {
    padding: 10;
    margin: 0;
  }
  .fDjBanner {
    margin-left: 25px;
  }
  .fDjBannerOne, .fDjBannerTwo {
    border-top: 70px solid #55c5c9;
    /* border-bottom: 35px solid #55c5c9; */
  }
  .carousel, .imageGallery {
    display: none;
  }
  .imgGalBtn {
    display: none;
  }
  .iGSlider {
    display: none;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  nav p {
    padding: 0px 15px;
  }
  .musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fellowDjs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .instaDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  img {
    padding: 0px;
    margin: 30px;
  }
  .aboutContent {
    padding: 20px;
  }
  .eventPage, .aboutPage {
    padding: 0px;
  }
}

@media only screen and (min-width: 900px) {
  nav p {
    padding: 0px 15px;
  }
  .musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fellowDjs {
    -ms-grid-columns: 3fr 1fr 3fr;
        grid-template-columns: 3fr 1fr 3fr;
  }
  .instaDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .instaDiv img {
    padding: 0px;
    margin: 50px;
  }
  .musicFellow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .musicFellow div {
    width: 100%;
  }
  .imageGallery {
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
  }
  .iGImage {
    height: 75vh !important;
    width: auto !important;
  }
  .aboutContent {
    padding: 25px;
  }
  .eventPage, .aboutPage {
    padding: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #060606;
  color: #F2EFE9;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 15px;
  margin: 0px;
  background-color: #212020;
  color: #F001FF;
  z-index: 10;
}

header a h3 {
  color: #F001FF;
}

nav {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav p {
  color: #F58C2B;
}

nav p:hover {
  color: whitesmoke;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  padding: 0 15px;
  color: #F58C2B;
}

nav a:hover {
  color: whitesmoke;
}

footer {
  padding: 15px;
  margin: auto;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #55c5c9;
  color: #F001FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  text-decoration: none;
  padding: 0 15px;
  color: #F2EFE9;
}

footer a:hover {
  color: #F001FF;
}

.headerImg {
  height: 100vh;
  background-image: url("../assets/BentleyEdited/Dj-Bentley-Taylor-.jpg");
  background-size: 100% 100%;
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.aboutModal {
  z-index: 10;
}

.aboutImage {
  background-image: url("../assets/BentleyEdited/Dj-Bentley-Taylor-10.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.bookImage {
  background-image: url("../assets/BentleyEdited/Dj-Bentley-Taylor-2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 130px;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.aboutContent h1 {
  text-align: center;
  margin: 25px;
}

.imageGallery {
  padding: 50px 20px 160px;
  display: -ms-grid;
  display: grid;
  background-color: black;
}

.iGSlider {
  max-height: 80vh;
}

.iGImage {
  margin: 10px auto;
  /* -webkit-box-shadow: #80158e 0px 10px 30px 5px;
          box-shadow: #80158e 0px 10px 30px 5px; */
  padding: 10px;
  border-radius: 10px;
}

.imgGalBtn {
  background: none;
  border: none;
}

.imgGalBtn svg {
  height: 50px;
  width: 50px;
  color: whitesmoke;
}

.imgGalBtn svg:hover {
  color: #F58C2B;
}

.musicDjForm, .djForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.editMusicDj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px;
}

.indDj {
  border: #F2EFE9 solid 1px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editDjModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.editDjModal p {
  color: #F2EFE9;
  text-align: center;
}

.editDjModal .btn {
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */