// this file is for compiling in the other style files, as well as for any overarching styling
@import './variables';
@import './pages';
@import './carousel';
@import './musicplayer';
@import './mediaqueries';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: $backgroundColor;
    color: $lightColor;
}

.pageContainer {
    position: relative;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    @include pad-mar(15px, 0px);
    background-color: $headerColor;
    color: $accentColor;
    z-index: 10;

    a {
        h3 {
            color: $accentColor;
        }
    }
}

nav {
    z-index: 20;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
    }
    p {
        padding: 0 15px;
        color: $lightColor;
    }
    
    a {
        text-decoration: none;
        padding: 0 15px;
        color: $lightColor;
    }
}

footer {
    @include pad-mar(15px, auto);
    height: 120px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $headerColor;
    color: $accentColor;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        padding: 0 15px;
        color: $lightColor;
    }

    a:hover {
        color: $accentColor;
    }
}

///////////

.headerImg {
    height: 100vh;
    background-image: url('../assets/ActionImage_DJBentley.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 

.aboutModal {
    z-index: 10;
}

.aboutImage {
    background-color: pink;
}

.aboutContent {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // color: $darkColor;
    
    h1 {
        text-align: center;
    }
}

.imageGallery {
    padding: 50px 20px 160px;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    background-color: $imageGalBackground;
}

.iGSlider {
    max-height: 80vh;
    box-shadow: $darkColor 5px 3px 5px;
}

.imgGalBtn {
    background: none;
    border: none;

    svg {
        height: 50px;
        width: 50px;
    }
}

.musicDjForm {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.editMusicDj {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.indDj {
    border: black solid 1px;
}