.btn {
  padding: 8px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  border: 1px solid #F001FF;
  background-color: #292828;
  color: #d6d5d5;
  font-size: 20px;
}

.btn:hover {
  -webkit-box-shadow: #F001FF 0px 0px 10px;
          box-shadow: #F001FF 0px 0px 10px;
  color: #02FE03;
  background-color: rgba(41, 40, 40, 0.822);
}

.sideLink {
  background-color: rgba(41, 40, 40, 0.822);
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 200ms, height 200ms;
  transition: width 200ms, height 200ms;
}

.sideLink svg {
  color: #d6d5d5;
  height: 20px;
  width: 20px;
  -webkit-transition: width 200ms, height 200ms;
  transition: width 200ms, height 200ms;
  text-align: center;
}

.sideLink:hover {
  width: 50px;
  height: 50px;
  background-color: #292828;
  -webkit-box-shadow: #F001FF 0px 0px 10px;
          box-shadow: #F001FF 0px 0px 10px;
}

.sideLink:hover svg {
  color: #02FE03;
  height: 30px;
  width: 30px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #292828;
  color: #d6d5d5;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 20px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 120%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sideLinkSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 3;
  position: fixed;
  bottom: 120px;
}

.actionImage {
  border: black solid 1px;
  width: 100%;
  height: 75vh;
  background-image: url("../assets/ActionImage_DJBentley.jpg");
  background-size: 100%;
}

.carousel {
  border: black solid 1px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #d6d5d5;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

.contentWrap {
  padding: 20px 75px 150px 75px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  margin: 0px;
  border: 1px solid black;
  background-color: #292828;
  color: #02FE03;
  border-bottom: 2px solid #02FE03;
}

nav a {
  text-decoration: none;
  padding: 0 15px;
  color: #d6d5d5;
}

nav a:hover {
  color: #02FE03;
}

footer {
  padding: 15px;
  margin: 0px;
  border: 1px solid black;
  height: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #292828;
  color: #02FE03;
  border-top: 2px solid #02FE03;
}

footer a {
  text-decoration: none;
  padding: 0 15px;
  color: #d6d5d5;
}
/*# sourceMappingURL=style.css.map */