@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");
body {
  font-family: 'Sen', sans-serif;
}

.headlineOne {
  font-size: 104px;
  text-align: center;
}

.subTitle {
  font-size: 30px;
}

.bodyText {
  font-size: 16px;
}

.btn, input[type=text] {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #F001FF;
  font-size: 20px;
}

.btn {
  background-color: #F2EFE9;
  color: #25282A;
}

.section {
  margin: 50px 0;
}

input[type=text] {
  background-color: #25282A;
  color: #F2EFE9;
}

.btn:hover {
  -webkit-box-shadow: #F001FF 0px 0px 50px;
          box-shadow: #F001FF 0px 0px 50px;
}

.homePage .contentWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actionImage {
  width: 100%;
  background-image: url("../assets/ActionImage_DJBentley.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  -webkit-box-shadow: -5px -5px 10px black inset;
          box-shadow: -5px -5px 10px black inset;
}

.homeQuote {
  border: dotted 3px #F001FF;
  border-radius: 5px;
  width: 80%;
}

.homeQuoteSignoff {
  font-size: .7em;
}

.loginPage {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  margin: auto 0;
}

svg {
  color: #F2EFE9;
  height: 20px;
  width: 20px;
  -webkit-transition: width 200ms, height 200ms;
  transition: width 200ms, height 200ms;
  text-align: center;
}

.aboutPage p {
  font-size: 20px;
}

.fellowDjs {
  display: -ms-grid;
  display: grid;
  overflow: scroll;
}

.fellowDjs div {
  border-right: #25282A 1px solid;
  border-left: #25282A 1px solid;
}

.fellowDjs p {
  text-align: center;
  padding: 5px;
  margin: 0px auto;
}

.fellowDjsPage {
  width: 100%;
  padding: 20px;
  margin: 0px;
}

.fellowDjsPage h2 {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.instaDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.imagesDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.myCarousel, .instaCarousel {
  background-color: #25282A;
  color: #F2EFE9;
  z-index: 1;
  width: 410px;
}

.myCarousel {
  border-width: 5px;
}

.carouselBtn {
  background-color: #25282A;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.carouselBtn:hover {
  -webkit-box-shadow: #F001FF 0px 0px 10px;
          box-shadow: #F001FF 0px 0px 10px;
}

.carouselBtn:hover svg {
  color: #F001FF;
}

.carouselNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carouselDots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carouselDots button {
  padding: 3px;
  margin: 3px;
  border-radius: 50%;
  background-color: #F2EFE9;
}

.carousel__dot--selected {
  background-color: #F001FF !important;
}

.carouselImg {
  overflow: hidden;
}

.sideLink {
  background-color: #25282A;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 200ms, height 200ms;
  transition: width 200ms, height 200ms;
}

.sideLink:hover {
  width: 50px;
  height: 50px;
  background-color: #25282A;
  -webkit-box-shadow: #F001FF 0px 0px 30px;
          box-shadow: #F001FF 0px 0px 30px;
}

.sideLink:hover svg {
  color: #F001FF;
  height: 30px;
  width: 30px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #25282A;
  color: #F2EFE9;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 20px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 120%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sideLinkSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 3;
  position: fixed;
  bottom: 120px;
}

.musicPlayer {
  padding: 10px;
  margin: 10px;
  background-color: #25282A;
}

.otherMusic {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F2EFE9;
  overflow: scroll;
}

.otherMusic img {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

.otherMusic h3 {
  padding: 5px;
  margin: 5px;
}

.otherMusic:hover {
  color: #F001FF;
  background-color: #F2EFE9;
}

@media only screen and (max-width: 600px) {
  .actionImage {
    height: 150px;
  }
  .contentWrap {
    padding: 20px 10px 150px 10px;
  }
  .homeQuote {
    padding: 20px;
    margin: 50px auto;
  }
  .musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fellowDjs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .headlineTwo {
    font-size: 35px;
    text-align: center;
    padding: 20px;
    margin: 10px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
  .actionImage {
    height: 200px;
  }
  .contentWrap {
    padding: 20px 25px 150px 25px;
  }
  .homeQuote {
    padding: 30px;
    margin: 50px auto;
  }
  .musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fellowDjs {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .headlineTwo {
    font-size: 45px;
    text-align: center;
    padding: 20px;
    margin: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .actionImage {
    height: 65vh;
  }
  .contentWrap {
    padding: 20px 75px 150px 75px;
  }
  .homeQuote {
    padding: 50px;
    margin: 50px auto;
  }
  .musicPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fellowDjs {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .headlineTwo {
    font-size: 55px;
    text-align: center;
    padding: 20px;
    margin: 10px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #25282A;
  color: #F2EFE9;
}

.pageContainer {
  position: relative;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  margin: 0px;
  background-color: #25282A;
  color: #F001FF;
  border-bottom: 2px solid #F001FF;
  -webkit-box-shadow: #F001FF 2px 2px 10px;
          box-shadow: #F001FF 2px 2px 10px;
  z-index: 100;
}

header a h3 {
  color: #F001FF;
}

nav {
  z-index: 20;
}

nav a {
  text-decoration: none;
  padding: 0 15px;
  color: #F2EFE9;
}

nav a:hover {
  color: #F001FF;
}

footer {
  padding: 15px;
  margin: auto;
  height: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #25282A;
  color: #F001FF;
  border-top: 2px solid #F001FF;
  -webkit-box-shadow: #F001FF -2px -2px 10px;
          box-shadow: #F001FF -2px -2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  text-decoration: none;
  padding: 0 15px;
  color: #F2EFE9;
}

footer a:hover {
  color: #F001FF;
}
/*# sourceMappingURL=style.css.map */